<div class="row name-canvas">
  @if (!name) {
    <div class="col-md-7">
      <div class="form-container">
        <input
          type="text"
          class="form-control"
          placeholder="Enter name"
          [(ngModel)]="draftName">
      </div>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary" (click)="saveName()">bassd!</button>
    </div>
  }

  @if (name) {
    <div class="col-md-7">
      <h3 class="name-tag">{{ name }}</h3>
    </div>
    <div class="col-md-3">
      <button class="btn btn-danger" (click)="removeName()">weg!</button>
    </div>
  }
</div>
